body{
    display: flex;
    flex-direction: column;
}
section, footer{
    padding-left: 55px;
    padding-right: 55px;
}
header{
    background: rgba(0, 119, 101, 1);
    height:84px;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head_link{
    padding-right: 40px;
    display: flex;
    flex-direction: row;
}
.logo{
    padding-left: 40px;
}
.link{
    color:white;
    font-size: 24px;
}
.head_span{
    color:white;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo{
    width: 184px;
    height: 45px;
}
.first_par{
    background-image: url('img/image.png');
    background-size: cover;
    height: 403px;
}
.content_first_par{
    height: inherit;
    display: flex;
    color:white;
    font-size: 72px;
    justify-content:center;
    align-items: center;
}
.second_par{
    display: flex;
    background-color: rgba(238, 238, 238, 1);
    flex-direction: column;
}
.second_par_div, .h_the_problem{
    display: flex;
    flex-direction: column;
}
.h_the_problem{
    display: flex;
    align-items: center;
    font-size: 64px;
    color: rgba(0, 119, 101, 1);
}
.second_par{
    font-size: 32px;
    color: black;
}
.third_par{
    background-image: url('img/image (1).png');
    background-size: cover;
    height: 483px;
}
.third_par_div{
    display: flex;
    color:white;
    font-size: 48px;
    font-style: italic;
    height: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fourth_par{
    height: 604px;
    background-color: rgba(255, 255, 255, 1);
}
.fourth_par_div1{
    display: flex;
    flex-direction: row;
}
.h_PiedPiperCoin, .h_the_team{
    color: rgba(0, 119, 101, 1);
    font-size: 64px;
    text-align: center;
}
.img_PiedPiperCoin{
    width: 115px;
    height: 115px;
    padding-right: 40px;
}
.fourth_par_div1{
    font-size: 32px;
    color:black;
}
.fifth_par{
    background-color: rgba(238, 238, 238, 1);
}
.content{
    text-align: center;
    padding-bottom: 90px;
}
figcaption{
    font-size: 24px;
    color: rgba(0, 119, 101, 1);
    font-weight: bold;
}
.image{
    font-size: 18px;
    color: black;
}
.h_the_team{
    padding-top: 50px;
}
footer{
    background-color: rgba(51, 51, 51, 1);
    height: 176px;
}
.footer_div{
    height: inherit;
    display: flex;
    color:white;
    font-size: 24px;
    text-align: center;
    align-items: center;
}